# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
FlexTargetiOS/flextarget/Packages/opencv2.framework/

# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Ignore macOS system files
.DS_Store

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# BFG Repo-Cleaner reports
.bfg-report/
.git.bfg-report/

# Ignore build artifacts generated by xcodebuild / CI
/build/

# iOS build directory
FlexTargetiOS/build/

# Optional: DerivedData inside build (if present)
build/DerivedData/

*.mp4
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/2de6a04cdba79ed13580c47dfd70cc5f
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/3d6a82c6cddc88aac54e6bb2a09c7002
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/04a1ee763654b4cae9580daa993d5e54
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/5c05908d416363997d39d0b32f0f174e
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/5d8164bf418d4cd2edb59a4e934cc1f1
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/6ccb04c5b9c071e9e4ed54f7d3e2aa53
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/8cc11280a6889adfdd5ecc7b0eaa9574
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/9da50f61e8aaa15951034c2bca755fec
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/9df5348ec304ed84713781e26a3c2f8f
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/22e309c90a3b097d38497f9a43cae002
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/27cbedc42d75bc3003ca27dde8167f58
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/33a4589781181ecdbb78e0cf5ab8b0ff
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/307efbab5f7191af95f131e12f50dc5f
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/28470c1445118f1f00a686d74dba9430
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/35849c4c652ed437ce63ec213a13c89a
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/74902976f7e1bb5b4e20ae9b358487b1
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/900837460eabc6c663ee60a54e636c8d
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/369461810472126047f75a4e614b152b
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/a1aecc9c04c541ccf3e981937e268aeb
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/a16c5925569aabe765ea6cb6a1fd70fa
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/a8778f8b41265820da160392f55e719a
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/a8837f06a943a4dcbf0c27d851e8b1b6
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/aa7eb6e7884d4816ac0d445e1c3de4d6
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/aab9636395f5b290445e7129c4090aa4
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/ca4ffd6664b72b213cec6737387ab0ea
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/cf6c708795b9ac5a4d63b493786ab3bf
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/d38c40eee4fc22a6f47bc6f18062e928
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/d41d8cd98f00b204e9800998ecf8427e
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/dab604d61085cb54a68c37bad9d61059
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/de232c5705ee7575816b4a93e242ba1e
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/f7943977da5bf88a203cdbb8d4149291
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/99cee93f74529e72fd8b938164c1c8cd.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PACKAGE@v12_hash=1dc8105e2f9aa9cecae14376f149918b-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PACKAGE@v12_hash=459b2333d3836b958d46fba7131fff8a-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PACKAGE@v12_hash=a94bb849f946628f0564d61e389ecaf6-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=6e4e8a2888aba56c480c9644bf21c470_hash=6ba1a8d61c739e0c8ed4988ef9c46940plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=7a3ecff123d6ffe9b330e9085ef261be-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=ecb9cbc152663673bebb4c4be0c8f15d-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=0e1fb21de37bfe4fad112404249841e6-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=3b4db18a620317e5f94599ae5cc7d557-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=6ba94a0aa2f3f1a9a96b0c9e0b978356-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=7b1768292bbab634dd091c1ec1047ef9-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=7f24f84e2ba98dc021affbb0e1a8f0e2-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=8b1403cb412e6401d2d8fe862d374795-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=8eccaa0d4f7106597bfb5d29e1db9e19-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=25e3e63cd70d9baf254c0f20491c1afa-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=34a9c94d35fe643d0a90dee8c1f3beb3-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=62c60fba4b1c97e5668e05c309085572-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=87d7ef84154f796c72e91f420053d6d3-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=557a3474df762fd97775c672441f921f-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=836de32dc2f81246e38d1078415612db-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=6940b8e96ee9f21654626012487e9579-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=9913de355140f134d11d03af19762ec0-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=93262a2e91c6397539c96627211cd078-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=489274c4038faa50a715ce161fc8787a-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=54098091fe43616fdff009750e5ccf45-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=ace2e66fcc25574394f959db453fd819-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=b0f79622a282d16c17b5a50004c94e7f-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=c113dc2c6cacceb58429b6d0316b878f-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=c858b8457f87b14384358550d41896d9-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=de23260000df58486a44a4970f3c70db-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=e3a9cbef5b03fa37a1c7ed10b08453e7-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=f1a3a3ab2aaaa7ea58404d8bc684e3fa-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=f491c53b64fc103c016e6bfbab4a8040-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v12_hash=f6067949906e58254683f591f64bcfc8-json
FlexTargetiOS/build/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=41522ecc8b412442eb6dac0ece003b81_subobjects=a9566b4989a9c2d829bddcc897b5cf52-json
FlexTargetiOS/build/Logs/Build/0AFFAEB1-27E8-4352-B250-3725EA55D6CE.xcactivitylog
FlexTargetiOS/build/Logs/Build/LogStoreManifest.plist
FlexTargetiOS/build/Logs/Launch/LogStoreManifest.plist
FlexTargetiOS/build/Logs/Localization/LogStoreManifest.plist
FlexTargetiOS/build/Logs/Package/0A4143E4-4EFF-4CA1-8186-FBE65CDEBF3C.xcactivitylog
FlexTargetiOS/build/Logs/Package/9EDD91B3-14DA-439D-8D20-CABA3A600BA4.xcactivitylog
FlexTargetiOS/build/Logs/Package/8279A2E3-8394-4799-939F-2969EBD36B99.xcactivitylog
FlexTargetiOS/build/Logs/Package/LogStoreManifest.plist
FlexTargetiOS/build/Logs/Test/LogStoreManifest.plist
FlexTargetiOS/build/SourcePackages/workspace-state.json
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/config
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/description
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/FETCH_HEAD
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/HEAD
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/packed-refs
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/applypatch-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/fsmonitor-watchman.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/post-update.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-applypatch.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-merge-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-push.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-rebase.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/pre-receive.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/prepare-commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/push-to-checkout.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/hooks/update.sample
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/info/exclude
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/objects/pack/pack-a7ba66b34c5ba8a822c39396b9515cf7d619b8e2.idx
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/objects/pack/pack-a7ba66b34c5ba8a822c39396b9515cf7d619b8e2.pack
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/objects/pack/pack-a7ba66b34c5ba8a822c39396b9515cf7d619b8e2.rev
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/objects/pack/pack-d2e99c22964e4331e1f923ef73c269dea13de548.idx
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/objects/pack/pack-d2e99c22964e4331e1f923ef73c269dea13de548.pack
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/heads/binary_framework
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/heads/master
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/heads/tmolitor-stud-tu/document-logfile-locking
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1110/merge
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1447/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1448/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1449/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1450/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1450/merge
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1451/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1453/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1454/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1458/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/pull/1459/head
FlexTargetiOS/build/SourcePackages/repositories/CocoaLumberjack-e116e071/refs/tags/3.9.0
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/config
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/description
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/FETCH_HEAD
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/HEAD
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/packed-refs
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/applypatch-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/fsmonitor-watchman.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/post-update.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-applypatch.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-merge-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-push.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-rebase.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/pre-receive.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/prepare-commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/push-to-checkout.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/hooks/update.sample
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/info/exclude
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/objects/pack/pack-bfd1c8ce8e6cd5bdb37eebe57267f9f3db541808.idx
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/objects/pack/pack-bfd1c8ce8e6cd5bdb37eebe57267f9f3db541808.pack
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/objects/pack/pack-ec64579a3f2efd66ef4e9dc82e11cc300d36df9e.idx
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/objects/pack/pack-ec64579a3f2efd66ef4e9dc82e11cc300d36df9e.pack
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/objects/pack/pack-ec64579a3f2efd66ef4e9dc82e11cc300d36df9e.rev
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/heads/3.x
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/658/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/704/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/728/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/746/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/773/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/822/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/833/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/835/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/855/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/857/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/859/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/860/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/861/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/861/merge
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/863/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/864/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/865/head
FlexTargetiOS/build/SourcePackages/repositories/SVGKit-afe2ee5e/refs/pull/866/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/config
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/description
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/FETCH_HEAD
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/HEAD
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/packed-refs
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/applypatch-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/fsmonitor-watchman.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/post-update.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-applypatch.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-merge-commit.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-push.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-rebase.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/pre-receive.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/prepare-commit-msg.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/push-to-checkout.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/hooks/update.sample
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/info/exclude
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/objects/pack/pack-8def3407ff578d8b1cbb5889ac45fdade56380b2.idx
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/objects/pack/pack-8def3407ff578d8b1cbb5889ac45fdade56380b2.pack
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/objects/pack/pack-f39d2993ce135e00058df9acde2c7499bed8fe3d.idx
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/objects/pack/pack-f39d2993ce135e00058df9acde2c7499bed8fe3d.pack
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/objects/pack/pack-f39d2993ce135e00058df9acde2c7499bed8fe3d.rev
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/heads/main
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/120/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/315/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/322/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/349/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/363/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/364/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/365/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/366/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/367/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/368/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/369/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/370/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/371/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/371/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/373/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/375/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/375/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/376/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/379/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/380/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/381/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/382/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/383/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/384/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/384/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/385/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/386/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/386/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/387/head
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/pull/387/merge
FlexTargetiOS/build/SourcePackages/repositories/swift-log-ba8887eb/refs/tags/1.6.4
